.matching {
  margin: 0 auto;
  max-width: 1220px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 65px;
  }
}

.matching__form {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.matching__contacts {
  padding: 0 20px;
  margin-top: 31px;
  padding-bottom: 12px;

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.matching__commentary {
  padding: 0 20px;
  padding-bottom: 23px;
  border-color: var(--basic-green);
  border-width: 2px;
  border-bottom: none;
  border-left: none;
  border-right: none;

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-bottom: 70px;
  }
}

.matching__additional {
  padding: 0 20px;
  border-color: var(--basic-green);
  border-width: 2px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0;
  }
}

.matching__title {
  padding: 0 20px;
  font-family: @font-primary;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 35px;
  font-weight: normal;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 24px;
    margin-bottom: 55px;
  }
}

.matching__description {
  padding: 0 20px;
  font-family: @font-primary;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 36px;
  font-weight: normal;

  @media (min-width: @tablet-width) {
    margin-left: 20px;
    margin-bottom: 67px;
    font-size: 20px;
    line-height: 30px;
    max-width: 324px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 66px;
    max-width: 323px;
    margin-left: -20px;
  }
}

.matching__legend {
  padding: 0;
  font-family: @font-primary;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
    padding-left: 17px;
    font-size: 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.matching__textarea {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: @font-primary;
  font-size: 16px;
  line-height: 18px;
  color: var(--special-dark-grey);
  text-transform: uppercase;
  min-height: 150px;
  min-width: 280px;
  width: 100%;
  border: 1px solid var(--basic-grey-3);
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-left: 18px;
    padding-top: 16px;
    padding-right: 16px;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 174px;
    margin-bottom: 46px;
    width: 631px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 1220px;
  }
}

.matching__button {
  margin: 0 auto;
  color: var(--basic-white);
  background-color: var(--basic-green);
  font-size: 16px;
  line-height: 20px;
  outline: none;
  border: none;
  text-align: center;
  width: 100%;
  margin-bottom: 21px;

  &:active {
    color: var(--button-active);
    opacity: 1;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.matching__required {
  padding: 0 20px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    text-align: left;
    margin-left: -20px;
    margin-top: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -20px;
    margin-top: 20px;
  }
}

.matching__item {
  padding: 0 20px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-bottom: 20px;
  }
}

.matching__submit {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    column-gap: 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    column-gap: 80px;
  }
}

.matching__programs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.matching__list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}
