.contacts {

  background-color: var(--basic-grey);

  &__title {
    font-family: "Oswald";
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__address {
    color: var(--special-dark-grey);
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
  }

}
