.example {

  background-color: var(--basic-light-grey);

  &__title {
    font-family: "Oswald";
    font-size: 36px;
    line-height: 40px;
  }

  &__content {
    color: var(--special-dark-grey);
    font-size: 14px;
    line-height: 18px;
  }

  &__number {
    font-family: "Oswald";
    color: var(--basic-black);
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
  }

  &__description {
    color: var(--special-dark-grey);
    font-size: 12px;
    line-height: 12px;
  }

  &__costs {
    font-family: "Oswald";
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__before {
    font-family: "Oswald";
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__after {
    font-family: "Oswald";
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

}
