.item-matching {

  &__label {
    color: var(--special-dark-grey);
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 16px;
    line-height: 18px;
  }

  &__input {
    color: var(--special-dark-grey);
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 16px;
    line-height: 18px;
  }
}
