@import "item-matching.less";
@import "program-matching.less";
@import "contacts-matching.less";
@import "additional-matching.less";

.matching {

  &__title {
    font-family: "Oswald";
    font-size: 36px;
    line-height: 36px;
  }


  &__description {
    font-family: "Oswald";
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__legend {
    font-family: "Oswald";
    font-size: 24px;
    line-height: 26px;
  }

  &__textarea {
    font-family: "Oswald";
    font-size: 16px;
    line-height: 18px;
    color: var(--special-dark-grey);
    text-transform: uppercase;
  }

  &__button {
    color: var(--basic-white);
    background-color: var(--basic-green);
    font-size: 16px;
    line-height: 20px;
    outline: none;
    border: none;
  }

  &__required {
    font-size: 14px;
    line-height: 16px;
  }
}
