.programs {

  &__item {
    background-color: var(--basic-grey);
  }

  &__title {
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
  }

  &__description {
    color: var(--special-dark-grey);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
  }

  &__button {
    color: var(--basic-black);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
  }

}
