.program-matching {

  &__label {

    color: var(--special-dark-grey-2);
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 16px;
    line-height: 18px;

    &:active {
      opacity: 0.3;
    }

  }

  &__input {
    color: var(--special-dark-grey-2);
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 16px;
    line-height: 18px;

    &:active {
      opacity: 0.3;
    }
  }
}
