  .promo {
    color: var(--basic-white);
    font-family: "Oswald", Arial, sans-serif;
    background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  }

  .promo__title {
    font-size: 36px;
    line-height: 36px;
  }

  .promo__description {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
  }

  .promo__button {
    color: var(--basic-white);
    background-color: var(--basic-green);
    font-size: 16px;
    outline: none;
  }
